<footer class="page-footer indigo accent-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Researchers of IIT Hyderabad</h5>
          <!-- <p class="grey-text text-lighten-4">Exercitation reprehenderit enim officia culpa.</p> -->
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Quick Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="http://raiith.iith.ac.in/">Research Archives</a></li>
            <li><a class="grey-text text-lighten-3" href="https://iith.ac.in/academics/index.html">Office of Academic Affairs</a></li>
            <li><a class="grey-text text-lighten-3" href="https://iith.ac.in/emergency_contacts/">Emergency Contacts</a></li>
            <li><a class="grey-text text-lighten-3" href="https://intranet.iith.ac.in/">Intranet</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2021 Indian Institute of Technology Hyderabad, Kandi, Sangareddy, Telangana, India. All rights reserved.
      </div>
    </div>
  </footer>