<ul id="days" class="dropdown-content">
  <li><a href="/institute" class="indigo-text">Institute level</a></li>
  <li><a href="/department" class="indigo-text">Department level</a></li>
</ul>
<ul id="days_mobile" class="dropdown-content">
  <li><a href="/institute">Institute level</a></li>
  <li><a href="/department">Department level</a></li>
</ul>
<div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper indigo accent-3">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a class="dropdown-trigger" data-target="days">Research scholar's Day <i class="material-icons right">arrow_drop_down </i></a></li>
          <li><a href="/seminars">Talks & Seminars</a></li>
          <li><a href="/links">Important Links</a></li>
          <li><a href="/info">Important Info</a></li>
        </ul>
      </div>
    </nav>
</div>